$blue: #6fb3db;
$darkgreen: #327931;
$green: #83d882;
$lightgrey: #e2e2e2;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background: {
        color: $lightgrey;
    }
    font: {
        family: sans-serif;
    }
    color: $darkgreen;
}

.container {
    margin: auto;
    max-width: 1025px;
    min-height: 100vh;
}

.title {
    text: {
        align: center;
    }
    margin: 3px;
    padding: 3px;
    line-height: 150px;
}

.card-container {
    max-width: 800px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.card {
    position: relative;
    background: {
        color: $green;
    }
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.302);    
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
    width: 150px;
    height: 200px;
    margin: 5px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card:active {
    transform: scale(0.97);
}

.card-flip {
    transform: rotateY(180deg);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.302);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    background: {
        color: $green;
    }
    backface-visibility: hidden
}

.card-front {
    transform: rotateY(180deg);
}